body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: Georgia, serif;
}

.main {
  height: 750px;
  padding: 20px;
}

input[type="text"] {
  width: 150px;
}

footer p {
  text-align: center;
  font-size: 90%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}